.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--suggestions);
  min-height: 85vh;
  width: 40vw;
  color: var(--header-color);
  font-size: 1.2rem;
}

.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--suggestions);
  min-height: 85vh;
  width: 40vw;
  justify-content: space-around;
  color: var(--header-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.div h2 {
  text-decoration: underline;
}

.div2 label {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.div2 section section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
}

.div2 section section button {
  width: 6rem;
  background-color: var(--header-color);
  border-radius: 1.5rem;
  margin: 0.2rem;
  color: var(--text-color);
  font-size: 1.2rem;
  align-items: center;
}

.div2 section section button:hover {
  background-color: var(--text-color);
  color: var(--header-color);
}

.suggestions section {
  display: flex;
  margin: 1.5rem;
  align-items: center;
  justify-content: center;
}

.settings {
  margin-left: 3rem;
  cursor: pointer;
}

.settings:hover {
  color: #F8C794;
}

.settings2 {
  margin: 3rem 0 0 8rem;
  cursor: pointer;
}

.settings2:hover {
  color: #F8C794;
}

.shuffle {
  margin-right: 3rem;
  cursor: pointer;
}

.shuffle:hover {
  color: #F8C794;
}

.slider {
  height: 2rem;
  width: 20rem;
  margin: 0.5rem;
  background-color: var(--header-color);
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.sliderThunb {
  background-color: var(--text-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
}
